{% extends "base.html" %}

{% block content %}
<h2>Lista de Usuários</h2>
<a href="/ecommerce/admin/user/create" class="btn btn-primary">Criar Novo Usuário</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="/ecommerce/admin/user/update/{{ user.id }}" class="btn btn-warning">Editar</a>
                <a href="/ecommerce/admin/user/delete/{{ user.id }}" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}